<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>ATC </h2>
      <li class="list-group-item">
        <h4>
          <b>User Id : </b>
          <input type="text" class="form-control" placeholder="UserID"[(ngModel)]="userId"> <!-- [(ngModel)]="airport">-->
          <h6><span class="help-block">enter an existing user id</span> </h6>
        </h4>
      </li>
      <div class="form-group has-error">
        <label class="control-label" >{{errorMessage}}</label>
      </div>
    </div>
    <button class="btn btn-primary" (click)="onViewAtc()">View Pilot</button>
  </div>
</div>
